#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: sans-serif;
}

.scroll-container{
  overflow-x: auto;
  margin-bottom: 1rem;
}

input, select, textarea, button {
  max-width: 100%;
  box-sizing: border-box;
}

label {
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .fish-entry-wrapper,
  .grid-4col-wrapper {
    font-size: 0.85rem;
  }
}

.form-row{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.grid-4col-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.grid-4col-header{
  font-weight: bold;
  background-color: #4e4f52;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
}

.grid-4col-header:nth-child(4) {
  border-right: none;
}

.grid-4col-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}

.grid-4col-cell:last-child,
.grid-4col-cell:nth-child(4n) {
  border-right: none;
}

.grid-4col-cell input[type="checkbox"] {
  margin-bottom: 0.25rem;
}

label{
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.fish-entry-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid #ccc;
  align-items: center;
  margin-bottom: 0.5rem;
}

.fish-entry-header{
  font-weight: bold;
  background-color: #4e4f52;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.grid-4col-header:nth-child(4) {
  border-right: none;
}

.fish-entry-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}
.fish-entry-remove{
  background-color: #fc0303;
  color: white;
  border: none;
  padding: 0.25rem, 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.grid-4col-cell:last-child,
.grid-4col-cell:nth-child(4n) {
  border-right: none;
}

.grid-4col-cell input[type="checkbox"] {
  margin-bottom: 0.25rem;
}

textarea {
  width: 100%;
  resize: vertical;
}

.card {
  padding: 2em;
}
